<!DOCTYPE html>

<head>
<title>Logare</title>
</head>

<body>
	
<a href="Despre.html"> <button style="background-color: #DEB887; color:black; font-size: 30px">Despre</button></a>
<a href="Echipa.html"> <button style="background-color: #DEB887; color:black; font-size: 30px">Avocati</button> </a>
</body>

<body>
	<h1 style="text-align:center; color: #FFFAFA; ">AVOCAȚI DLA</h1>

	
<div class="form-box">
	<h2> AUTENTIFICARE </h2>
	<div class="input-box">
	<input type="nume" placeholder="Nume Avocat" name ="nume">
	<input type="password" placeholder="parola ID Avocat" name = "password">
	<input type="submit" value="trimite">


	
<p class="forgotpsd"> <a href="#00FFFF">Ai uitat parola?</a></p>
<p class="register">Nu ești înregistrat?  <a href="#00FFFF">Crează cont!</a></p>
</div>

</form>


<style >
*{
	margin-right: 0;
	padding-bottom: 0;
}

body{
	background-image:url('static/foto/PNGfoto1.png');
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
}

.form-box{
	width: 700px;
	mask-position:right;
	background: rgba(177, 177, 205, 0.2);
	margin: 10% auto;
	padding: 30px;
	color:  #333300;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
</style>

</body>
</html>

 
