<!DOCTYPE html>

<head>
<title>CLIENȚI</title>
</head>
<body>
	


<body>
	
<a href="NumeClient.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Nume</button></a>
<a href="AdresaClient.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Adresa</button> </a>
<a href="CNPClienti.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">CNP</button> </a>

</a>


<h1 style="text-align:center; color:   #404040; ">Clienți:</h1>

</body>

<style >
*{
	margin-right: 1;
	padding-bottom: 1;
}

body{
	background-image:url('PNGfoto5.png');
	background-size: cover;
	background-position: top;
	font-family: sans-serif;

}
</style>
	