<!DOCTYPE html>

<head>
<title>Despre</title>
</head>
<body>
	
<a href="/echipa"> <button style="background-color: #F5F5DC; color:black; font-size: 30px">Avocati</button> </a>

</a>


</body>

<body>	
	<h1 style="text-align:center; color: #4d0000; ">Despre AVOCAȚI DLA</h1>

	<br> </br>
	<h2 style="text-align:center; color: #4d0000; "> Societatea AVOCAȚI ADL asigură clienţilor ei, persoane juridice sau fizice, române şi străine, servicii de consultanţă, asistenţă şi reprezentare juridică într-un larg spectru de ramuri de drept pentru a le conferi un nivel înalt de siguranţă juridică.</h2>
	<br> </br>
	<h2 style="text-align:center; color: #4d0000; ">În acest sens, ea depune, prin avocaţii ei, toate diligenţele ca drepturile şi interesele clienţilor să fie protejate la cel mai bun nivel, prin depistarea, documentarea şi neutralizarea riscurilor juridice, prin prevenirea declanşării litigiilor şi evitarea producerii prejudiciilor şi, dacă acestea totuşi intervin, prin maximizarea şanselor de câştigare a proceselor şi de recuperare respectiv limitare a daunelor.</h2>

<style >
*{
	margin-right: -10;
	padding-bottom: -10;
}

body{
	background-image:url('static/foto/PNGfoto3.png');
	background-size: cover;
	background-position: top;
	font-family: sans-serif;

}

<h1><img src="PNGfoto3x.png" alt="Logo"/>Prespective News</h1>

</style>



            

					
</style>				
