<!DOCTYPE html>

<head>
<title>AVOCAȚI DLA</title>
</head>

<body>
	
<a href={{url_for ('Despre')}}> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Despre</button></a>


</a>


</body>

<body>
	<h1 style="text-align:center; color:  #00000; ">Noi suntem echipa Avocati DLA:</h1>

<div class = "row">	

<pre class ="tab">
	     		<h2>          BODI PAULA                         CORA ROXANA </h2>
</pre>
<img src="D:\proiect avocati\Source\static\foto\bodi.png" width="230" height="230" hspace="100">
<img src="D:\proiect avocati\Source\static\foto\rox.png" width="230" height="230" hspace="30">
<br>
<br>
<br>


<pre class ="tab">
	      		<h2> 	  DENES IONUT                      MARTIN ANCA </h2>
</pre>
<img src="D:\proiect avocati\Source\static\foto\ionut.png" width="230" height="230" hspace="100">
<img src="D:\proiect avocati\Source\static\foto\anca.png" width="230" height="230" hspace="15">
<br>
<br>
<br>



<pre class ="tab">
	      		<h2> 	  MARINESCU BIANCA                 MOLDOVAN RADU </h2>
</pre>
<img src="D:\proiect avocati\Source\static\foto\bianca.png" width="230" height="230" hspace="100">
<img src="D:\proiect avocati\Source\static\foto\radu.png" width="230" height="230" hspace="15">




<style >
*{
	margin-right: 1;
	padding-bottom: 1;
}

body{
	background-image:url('static/foto/PNGfoto4.png');
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
}

<h1><img src="PNGfoto4x.png" alt="Logo"/>Prespective News</h1>

</style>
