<!DOCTYPE html>

<head>
<title>PaginaDeMeniu</title>
</head>

<body>
	
<a href="Despre.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Despre</button></a>
<a href="Echipa.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Avocati</button> </a>
<a href="Clienti.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Clienti</button> </a>
<a href="Contracte.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Contracte</button> </a>
<a href="Facturare.html"> <button style="background-color: #F5F5DC; color:black; font-size: 50px">Facturare</button> </a>
</a>


</body>

<style >
*{
	margin-right: 1;
	padding-bottom: 1;
}

body{
	background-image:url('static/foto/PNGfoto2.png');
	background-size: cover;
	background-position: top;
	font-family: sans-serif;

}
</style>